/* @use "@material/button";
@include button.core-styles; */

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

* {
box-sizing: border-box;
font-family: 'DM Sans', sans-serif;
}

body {
height: 100%;
background-color: #111;
background-size: 20px 20px;
background-image:
  linear-gradient(to right, #25252c 1px, transparent 1px),
  linear-gradient(to bottom, #25252c 1px, transparent 1px);
}

.header {
background-color: #2d2d38;
border-bottom: 1px solid #111;
height: 75px;
color: white;
display: flex;
}

/* .h-left {
float:left;
padding-left: 20px;
}
.h-right {
padding-right: 20px;
float: right;
text-align: right;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
margin-top: 10px;
} */

/* .h-right form {
display: inline;
} */

.header h1 a {
text-decoration: none;
margin: 0 auto;
padding-top: 20px;
padding-left: 20px;
font-family: 'Staatliches', sans-serif;
}

.header h1 a:hover {
color: #00b5b5;
}

.row {
display: flex;
flex-wrap: nowrap;
}

.sidebar {
font-size: 1.2em;
color: #fff;
width: 300px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: stretch;
background-color: #373945;
padding: 20px;
/* border: 1px solid #999; */
}

.sidebar h2 {
font-size: 1.75em;
/* padding-left: 5px; */
/* padding-bottom: 5px; */
font-weight: bold;
font-family: 'DM Sans', sans-serif;
}

.sidebar form {
padding: 10px;
border: 1px solid #454753;
/* border-radius: 10px; */
margin-bottom: 25px;
}

.sidebar form input[type=text],
select#workout-list {
background: #464957;
width: 100%;
margin-bottom: 20px;
/* margin-top: 10px; */
padding: 5px;
/* border-radius: 5px; */
border: none;
color: white;
}

.sidebar form input[type=submit] {
padding: 5px 10px 5px;
/* border-radius: 5px; */
outline: none;
border: none;
width: 100%;
background-color: #00a5a5;
font-weight: bold;
color: white;
}

.sidebar form input[type=submit]:hover {
background-color: #089292;
}

.sidebar form input[type=submit]:active {
background-color: #007575;
}

.slidecontainer {
width: auto;
height: 30px;
margin-bottom: 20px;
}

.slider {
width: 100%;
}

#sets-output,
#reps-output {
font-weight: bold;
}

#main {
/* background-image: url('../images/legend.svg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top center; */
flex: 80%;
padding: 10px;
}

.block {
border-radius: 10px;
border: 1px solid black;
cursor: grab;
font-size: 12px;
display: grid;
padding: 10px;
position: absolute;
background-color: #373945;
grid-gap: 0.3em;
grid-template-rows: repeat(var(--grid-rows), 1fr);
grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.block-item {
font-size: 1.2em;
min-width: 10px;
padding: 5px;
border-radius: 50px;
background-color: #eee;
font-weight: bold;
border: 1px solid #111;
text-align: center;
}

.block-label {
color: white;
max-width: 30px;
text-align: center;
font-size: 16px;
line-height: 16px;
display:block;
font-weight: bold;
}

.delete-button {
color: red;
}

.message {
color: blue;
}

/* @media (max-width: 450px) {
.sidebar, .row {
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.sidebar form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
}
#main {
  min-height: 300px;
  overflow: auto;
}
} */

input[type='range'] {
-webkit-appearance: none;
background-color: #464957;
overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none;
background: #2d2d38;
border-radius: 50%;
box-shadow: -210px 0 0 200px #00b5b5;
cursor: pointer;
height: 20px;
width: 20px;
border: 0;
}

input[type='range']::-moz-range-thumb {
background: #2d2d38;
border-radius: 50%;
box-shadow: -1010px 0 0 1000px #00b5b5;
cursor: pointer;
height: 20px;
width: 20px;
border: 0;
}

input[type="range"]::-moz-range-track {
background-color: default;
}
input[type="range"]::-moz-range-progress {
background-color: #00b5b5;
}
input[type="range"]::-ms-fill-upper {
background-color: default;
}
input[type="range"]::-ms-fill-lower {
background-color: #00b5b5;
}