:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
  margin: 0;
  background-color: lightslategray;
}

.header {
  background-color: lightblue;
  margin-left: 20%;
  height:100%;
  width: 100%;
  float: left;
  padding-left: 10px;
  border-bottom: 1px solid #333;
}

.sidebar {
  z-index: 1;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 20%;
  background-color: #ddd;
  padding-left: 10px;
}

.main {
  float:left;
  margin-left: 20%;
  padding: 10px;
}

.block-outer {
  vertical-align: bottom;
}
  
.block {
  border: 1px solid #aaa;
  cursor: grab;
  font-size: 12px;
  display: grid;
  padding: 5px;
  position: absolute;
  background-color: lightblue;
  grid-gap: 0.3em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.block-item {
  border-radius: 50px;
  background-color:#ddd;
  border: 1px solid #aaa;
  text-align: center;
}

.block-label {
  text-align: center;
  font-size: 12px;
  display:block;
}