:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);

}

.header {
  background-color: rgb(77, 138, 250);
  border-bottom: 1px solid #333;
  /* text-align:center; */
  height: 75px;
  color: white;
}

/* .h-left {
float:left;
padding-left: 20px;
}
.h-right {
padding-right: 20px;
float: right;
text-align: right;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
margin-top: 10px;
} */

/* .h-right form {
display: inline;
} */

.header h1 {
  margin: 0;
  padding-top: 10px;
  letter-spacing: 3px;
  text-align: center;
  /* font-weight: bold; */
  font-family: 'Staatliches', sans-serif;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 1px solid #999;
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 2em;
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.sidebar form {
  padding: 10px;
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 10px;
  /* margin-bottom: 15px; */
}

.sidebar form input[type=text], select#workout-list {
  margin-bottom: 8px;
  padding: 5px 10px 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

.sidebar form input[type=submit] {
  padding: 5px 10px 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

#main {
  flex: 80%;
  padding: 10px;
}

.block {
  border-radius: 10px;
  border: 1px solid #333;
  cursor: grab;
  font-size: 12px;
  display: grid;
  padding: 10px;
  position: absolute;
  background-color: rgb(77, 138, 250);
  grid-gap: 0.3em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.block-item {
  min-width: 25px;
  padding: 5px;
  border-radius: 50px;
  background-color: #eee;
  font-weight: bold;
  border: 1px solid #333;
  text-align: center;
}

.block-label {
  padding-top: 5px;
  color: white;
  max-width: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  display: block;
  font-weight: bold;
}

.delete-button {
  color: red;
}

.message {
  color: blue;
}

@media (max-width: 450px) {
  .sidebar, .row {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .sidebar form {
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    line-height: 1em;
  }
  #main {
    min-height: 300px;
    overflow: auto;
  }
}